.display {
  position: relative;
  width: 300px;
  height: 400px;
  background: tomato;
}
div {
  width: 200px;
  height: 100px;
  border: 1px solid;
  background: yellow;
  text-align: center;
  line-height: 100px;
  box-sizing: border-box;
}

.display-static {
  position: static;
  background: purple;
  opacity: 0.8;
}

.display-relative {
  position: relative;
  top: 28px;
  left: 48px;
  background: cyan;
  opacity: 0.8;
}

.display-absolute {
  position: absolute;
  bottom: 8px;
  right: 16px;
  background: green;
  opacity: 0.8;
}
